.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create_form input{
    width:300px;
    padding: 10px;
    border-bottom:2px solid;
    outline: none;
}
.create_form button{
    padding:10px;
    background-color: black;
    color: white;
    cursor: pointer;
}


.task{
    display: flex;
    flex-direction: column;
}
.red{
    background-color: red;
    color:white;
    width: 50%;
    height: 30px;
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.Green{
    background-color: green;
    color:white;  
     width: 50%;
    height: 30px;
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;  
}

button{
    cursor: pointer;
}
table{
    margin-top:20px;
    border-collapse: collapse;
    width: 80%;
}
th,td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
tr:nth-child(even){
    background-color: #deb5b5;
}
tr:nth-child(odd){
    background-color: #dcb290;
}

th{
    padding-top:12px;
    padding-bottom:12px;
    background-color: black;
    color:white;
}
.date{
    background-color: indianred;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 12px;
    width: 40%;
}
.task-name{
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
    width: 40%;

}